<div class="container p-4">
    <div class="row">
        {{#each tasks}}
            <div class="col-md-3 p-2">
                <div class="card text-center p-4">
                    
                    <h3 class="card-title text-uppercase">
                        {{title}}
                    </h3>
                    <p>
                        {{personInCharge}}
                    </p>
                    <p>
                        {{priorityLevel}}
                    </p>
                    <p>
                        {{timeago createdAt}}
                    </p>
                    <a href="/task/delete/{{id}}" class="btn btn-danger m-2"> Eliminar </a>
                    <a href="/task/edit/{{id}}" class="btn btn-secondary m-2"> Editar </a>
                    <a href="/task/finish/{{id}}" class="btn btn-success m-2"> Completada </a>
                </div>
            </div>
        {{else}}
            <div class="col md-4 mx-">
                <div class="card card-body text-center">
                    <p>Aun no tienes tareas</p>
                    <a href="/task/add">Agraga una nueva tarea</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>